<header class="header -hero" role="banner">
    <div class="wrapper">
        <h1 class="header__title">
            Hello World
        </h1>
        {{{helloWorld}}}
    </div>
</header>

<main>

    <div class="container -padded">
        <div class="wrapper">
            <div class="container__block -half">
                <h3>The Problem</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis quis metus vel condimentum. Mauris vel nunc vehicula est lacinia iaculis in sit amet ex.</p>

                <h3>The Solution</h3>
                <p>Aliquam nunc odio, blandit vel ex quis, mattis porttitor elit. Nulla commodo mauris orci, eu vehicula sapien mollis sed. Duis auctor sed tortor id tempor. Nam mattis a odio vitae efficitur. Nunc magna lectus, vulputate fermentum elementum ac, rutrum at leo.</p>
            </div>

            <div class="container__block -half">
                <h3>One more thing&hellip;</h3>
                <p>Suspendisse dictum elit et nisi suscipit, et egestas massa gravida. Praesent in quam turpis.</p>
                <p>Turn off JavaScript and click "Sign Up".</p>
            </div>

        </div>
    </div>

</main>
