<header class="header" role="banner">
    <div class="wrapper">
        <h1 class="header__title">
            Prototype
        </h1>
    </div>
</header>

<main>

    <div class="container -padded">
        <div class="wrapper">
            <div class="container__block -narrow">
                <h2>What is this?</h2>
                <p>This is a proof-of-concept of a lightweight front-end layer for DoSomething.org.</p>
            </div>

            <div class="container__block -narrow">
                <h2>Demos</h2>
                <p>Let's get started&hellip;</p>
                <ul class="list">
                    <li><a href="/hello">Hello World</a> <span class="footnote">&mdash; simple component w/ progressive enhancement</span></li>
                    <li><a href="/gallery">Campaign Gallery</a> <span class="footnote">&mdash; more complex example with nested components</span></li>
                    <li><a href="/campaigns/1144">Campaign Template</a> <span class="footnote">&mdash; campaign action page rendered through API</span></li>
                </ul>
            </div>

            <div class="container__block -narrow">
                <h2>References</h2>
                <p>The prototype uses the following components, both server-side and client-side:</p>
                <ul class="list">
                    <li><a href="http://facebook.github.io/react">React</a> <span class="footnote">&mdash; View Layer</span></li>
                    <li><a href="http://facebook.github.io/flux">Flux</a> <span class="footnote">&mdash; Application Structure</span></li>
                    <li><a href="https://babeljs.io">Babel</a> <span class="footnote">&mdash; ES6 transpiler</span></li>
                </ul>

                <p>The server runs <a href="http://www.expressjs.com">Express.js</a>, and is used to pre-render React components &amp; as a lightweight API. Client-side assets are bundled using <a href="http://www.browserify.org">Browserify</a>.</p>

            </div>

        </div>
    </div>

</main>
